.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar {
  z-index: 32;
  padding: 20X;
  color: hsla(0,0%,100%,.7);
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  background-color: #24292e;
  position: relative!important;
  min-height: 10!important;
  
}

.form {
  padding-top: 2%;
  justify-content: center;
  display: flex;
}

.button {
  display: flex;
  padding-left: 20px;
}

.content {
  padding-top: 2%;
  margin-left: 666px;
}

.start-count {
  margin-left: 70px;
}


.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.error-message {
  display: flex;
}

.error div {
  width: 400px;
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
